@use "themes.scss";
@use "components/animation.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.h-screen-ios {
    height: -webkit-fill-available;
}
